# AI相关
openai>=2.3.0

# 网络请求
requests>=2.32.5

# HTML解析
beautifulsoup4>=4.14.2
lxml>=6.0.2

# 图像处理
html2image>=2.0.7
image2pdf>=0.1.5

# 文档处理
markdown>=3.9

# 网页自动化
playwright>=1.55.0

# JM Comics API
jmcomic>=2.6.9